@import "../../js/vendor/materialize/sass/materialize.scss";

html{
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
}

    nav{
        .brand-logo{
            height: 64px;
            img{ 
                height: 50px;
                margin-top: -4px;
            }
        }
        ul.side-nav{
            li{
                a{
                    color: #222 !important;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                a:hover{
                    color: #222 !important;
                }
            }
        }
        ul{
            li{
                a{
                    color: #fff !important;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                a:hover{
                    color: #fff !important;
                    background: #212121;
                }
            }
        }
    }

.parallax-container {
      height: 500px;
    }

#logo-container{
    img{
        height: 100%;
        width: auto;
        vertical-align: baseline;
    }
}
.section-text{
    text-shadow: 2px 2px 4px rgba(125,125,125, 0.5);
    font-size: 3.5em;
    text-transform: uppercase;
}
.extra-large{
    font-size: 6em;
}
#contactus{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 700px;
    .newsletter{
        background: rgba(255,255,255, 0.8);
        padding: 10px 0;
        border-radius: 2px;
        .newsletter-email{
            width: 70%;
        }
        .newsletter-submit{
            width: 20%;
            text-transform: none;
        }
    }
}
.team-container{
    .team-image{
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 235px;
        height: 235px;
    }
    .team-links{
        a{
            img{
                width: 50px;
            }
        }
    }
}
 @media #{$small-and-down} {
    .parallax{
        img{
            height: 100% !important;
            width: auto !important;
            max-width: inherit !important;
        }
    }
  }